* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(33, 72, 192);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50vh;
}
#synclogo,
#caplogo {
    height: 2rem;
    width: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
}

